---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Heading from "../components/Heading.astro";
import Article from "../components/Article.astro";
import data from "../constants/data.json";
import type { SocialMedia } from "../constants";

const replacedData = data.socials.map((item) => ({
  ...item,
  link: import.meta.env[item.link],
}));
---
<Layout title={data.meta.title} socials={replacedData as SocialMedia[]}>
  <main class="flex flex-col gap-20 w-full max-md:px-4">
    <Section>
      <Heading slot="main-heading">Hello, I'm Sara</Heading>
      <div slot="descreption" class="leading-8 font-extralight">
        {data.introduction["main-section"].summary}
        <Heading class="text-3xl font-bold text-neutral-100 mt-4">TL;DR</Heading>
        <span>{data.introduction["secondary-section"].summary}</span>
      </div>
    </Section>

    <Article name="Selected Projects" items={data["Selected-Projects"]} />
    <Article name="Other Projects" items={data["other-projects"]} />
    <Article name="Interests" items={data["interests"]} />
  </main>
</Layout>
