---
	import Github from "../components/icons/Github.astro";
	import Email  from "../components/icons/Email.astro";
	import LinkedIn from "../components/icons/LinkedIn.astro";
	import type { SocialMedia } from "../constants";
	interface Props{
		socials:SocialMedia[]
	}

	const {socials} = Astro.props;

	const today = new Date();
---

<footer class="justify-self-end mx-auto">
	 Copyright {today.getFullYear()}. Made by <a href="https://saranatour.dev/" class="hover:text-neutral-100 hover:-translate-y-1 transition-all">Sara</a>
	<div class="social-links" >
		{socials?.map(i=>i.link).map(link =>(
			<a href={link} target="_blank" class=" cursor-pointer">
				{link.includes('github') && (<span class="sr-only">Follow me on github</span> <Github />)}
				{link.includes('linkedin') && (<span class="sr-only">Follow me on linkedin</span> <LinkedIn />)}
				{link.includes('@') && (<span class="sr-only">Email me </span> <Email />)}
		</a>
		))}
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
